/* BackButton.css の内容を複製 */
.m-button {
  background: #262626;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  align-items: center;
  min-height: 50px;
  min-width: 80px;
  text-align: center;
  z-index: 100;
}

.m-button:hover {
  background-color: #868686;
}

.m-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
}

.m-button:disabled:hover {
  background: #262626;
}

.m-button-delete {
  background-color: #84201e;
}
.m-button-delete:hover {
  background-color: #ed3030;
}

.m-button-confirm {
  background-color: #122e75;
}
.m-button-confirm:hover {
  background-color: #1a40a0;
}


.m-button-create {
  background-color: #0f6e2a;
}
.m-button-create:hover {
  background-color: #138834;
}
